.dashboard_blog-buttons {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: calc(100% - 330px);
}
.dashboard_buttons_block {
  position: relative;
  //max-width: calc(16.6% - 23px);
  max-width: 15%;
  width: 100%;
  margin: 0 0 23px 0;
  height: 78px;
  border-radius: 3px;
  padding: 11px 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  flex-grow: 1;
  text-shadow: 1px 1px 10px #666;


  .dashboard_buttons_block-count {
    font-size: 24px;
    font-weight: normal;
    color: #ffffff;
    margin-bottom: auto;
  }
  .dashboard_buttons_block-name {
    font-size: 1em;
    font-weight: normal;
    display: flex;
    white-space: nowrap;
    // justify-content: flex-end;
    color: #ffffff;
  }
  .dashboard_buttons_block-img {
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
  }
}

@media screen and (max-width: 1366px) {

  //.dashboard_buttons_block {
  //  width: 180px;
  //  height: 75px;
  //
  //  .dashboard_buttons_block-count {
  //    font-size: 18px;
  //  }
  //
  //  .dashboard_buttons_block-name {
  //    font-size: 14px;
  //  }
  //}
}

@media screen and (max-width: 1024px) {

  body .section {
    width: 100%;
  }

  .dashboard_top_block {
    flex-wrap: wrap;
    justify-content: center;
  }

  body .dashboard_top_block .dashboard_buttons_block {
    max-width: 100%;
    margin-bottom: 1vw!important;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
  }

  body .dashboard_top_block .dashboard_buttons_block:nth-child(4),
  body .dashboard_top_block .dashboard_buttons_block:nth-child(6) {
    margin-right: 0;
  }

  body .dashboard_bottom_block .dashboard_buttons_block {
    margin-right: 1vw;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 23%;
  }

  .nav {
    min-width: 279px;

    .nav-block {
      padding-left: 48px;
    }
    .nav-block-content > span:last-child {
      transform: translateX(0);
      padding-left: 22px;
      position: relative;
      opacity: 1;
    }

  }
}

@media screen and (max-width: 768px){

    body .dashboard_top_block .dashboard_buttons_block:nth-child(2n) {
      margin-right: 0;
    }

  body .dashboard_top_block .dashboard_buttons_block {
    flex-basis: calc(50% - 23px);
  }

  .dashboard .dashboard_top_block {
    padding-top: 14px;
  }

  .dashboard_blog {
    flex-wrap: wrap;

    .dashboard_blog-buttons {
      padding-right: 0;
      display: inline-flex;
      width: auto;
      height: auto;
      justify-content: center;
      margin-top: 30px;
    }

    .dashboard_info_wrap {
      margin-bottom: 0;
      width: 100%;
      order: -1;

      .dashboard_blog_info {
        min-width: 100%;
        width: 100%;
      }
    }
  }


}

@media screen and (max-width: 660px) {
  body .dashboard_bottom_block .dashboard_buttons_block,
  body .dashboard_top_block .dashboard_buttons_block {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 15px!important;
  }
}