.login {
  min-height: 100%;
  min-width: 100%;
  background: url("../../assets/images/TennisLockerInternalPortal/Desktop.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .error_login {
    color: #de1e1e;
    margin: 0;
    margin-bottom: 25px;
  }
  .login-block {
    position: relative;
    min-width: 434px;
    min-height: 550px;
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-block_logo {
    width: 289px;
    height: 34px;
    margin-bottom: 59px;
    margin-top: 103px;
  }
  .login__forgotPass {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #007fff;
  }
  .checkbox-block {
    display: flex;
    margin-bottom: 44px;
    .checkbox-block-input {
      user-select: none;
      width: 26px;
      height: 27px;
      cursor: pointer;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px #d0d7dd;
      background-color: rgba(255, 255, 255, 0);
    }
    .checkbox-block-title {
      font-size: 14px;
      margin-left: 13px;
      line-height: 1.86;
      color: #747987;
    }
    .loader {
      width: 100px;
      position: absolute;
      height: 100px;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      right: 0;
      .circular {
        animation: rotate 2s linear infinite;
        transform-origin: center center;
      }

      .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        stroke-linecap: round;
      }

      @keyframes rotate {
        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes dash {
        0% {
          stroke-dasharray: 1, 200;
          stroke-dashoffset: 0;
        }
        50% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -35px;
        }
        100% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -124px;
        }
      }

      @keyframes color {
        100%,
        0% {
          stroke: #0057e7;
        }
        40% {
          stroke: #d62d20;
        }
        66% {
          stroke: #008744;
        }
        80%,
        90% {
          stroke: #ffa700;
        }
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
  }
  input {
    padding: 7px 7px 7px 0;
    font-size: 14px;
    color: #636c6e;
    display: block;
    border: none;
    width: 319px;
    border-bottom: 2px solid #d0d7dd;
    margin-bottom: 25px;
  }
  .blockImg {
    position: relative;
    &::before {
      position: absolute;
      display: block;
      width: 7px;
      top: 12px;
      height: 7px;
      right: 7px;
      border-radius: 50%;
      background-color: #a6e50f;
      content: " ";
    }
  }
  .errorImg {
    position: relative;
    input {
      border-color: #fc6e50;
    }
    &::before {
      position: absolute;
      display: block;
      width: 7px;
      top: 12px;
      height: 7px;
      right: 7px;
      border-radius: 50%;
      background-color: #fc6e50;
      content: " ";
    }
  }

  input:focus {
    color: black;
    outline: none;
  }

  input.error {
    border-color: red;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
  }

  .input-feedback {
    color: red;
    margin-top: .25rem;
  }

  button {
    width: 318px;
    height: 57px;
    border-style: none;
    border-radius: 5px;
    background-color: #8bd681;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }

  button:disabled {
    opacity: .5;
    cursor: not-allowed !important;
  }

  button + button {
    margin-left: .5rem;
  }

  button.outline {
    background-color: #eee;
    border: 1px solid #aaa;
    color: #555;
  }
}
