.modalEventDetail {
  min-height: 300px;
  background: rgb(255, 255, 255);
  flex-direction: column;
  display: flex;
  min-width: 300px;
  max-height: 90vh;
  max-width: 90vw;
  &__content {
    padding: 0 20px 20px;
  }
  &__Address {
    padding: 15px 0;
  }
  &__title {
    font-size: 23px;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    color: white;
    text-transform: uppercase;
    background: #3f51b5;
  }
  &__place {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__details {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
    &-content-date {
      font-size: 15px;
      color: black;
    }
    &-content {
      margin-bottom: 10px;
    }
  }
  &__block {
    display: flex;
    .modalEventDetail__place {
      padding-right: 5px;
    }
  }
  &__details:last-child {
    border-bottom: none;
  }
  &__modify {
    font-size: 18px;
    color: black;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    &_phone {
      color: #00D084;
      cursor: pointer;
    }
  }
}
